.overall-tests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;

  .date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 5%;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 15px;
      text-align: center;
    }

    .date-picker {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: 100%;

      label {
        font-size: 1rem;
        font-weight: 500;
      }

      .react-datepicker-wrapper {
        width: auto;
        display: flex;
        justify-content: center;
      }

      input {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      input:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      button {
        padding: 10px 20px;
        background-color: var(--object-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--object-color);
        }
      }
    }
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    max-width: 1200px;

    .chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px;
      background-color: var(--object-color);
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

      h2 {
        margin-bottom: 15px;
        font-size: 1.5rem;
        text-align: center;
        color: var(--text-color);
      }

      canvas {
        width: 90%;
        max-width: 700px;
        height: 400px;
      }
    }
  }

  @media (max-width: 768px) {
    .date-picker-container {
      .date-picker {
        gap: 10px;

        input {
          width: 100%;
          max-width: 250px;
        }
      }

      .buttons-container {
        button {
          width: 100%;
          max-width: 250px;
        }
      }
    }

    .charts-container {
      .chart {
        width: 100%;
        padding: 15px;

        h2 {
          font-size: 1.2rem;
        }

        canvas {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
