.results-table-container {
  width: 100vw;
  margin-top: 20px;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .results-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1rem;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: var(--thumb-bg-color);
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #ccc;
    }

    tr:hover {
      background-color: var(--thumb-bg-color);
    }
  }
}
